/* 头部区域 */
.wjs-header {
	border-bottom: 1px solid #ccc;
	height: 40px;
	line-height: 40px;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.wjs-header div[class*="col-"]{
	border-left: 1px solid #ccc;
}
.wjs-header div[class*="col-"]:first-child{
	border-left: none;
}
.wjs-header .mobile-icon:before{
	content: "\e908";
}
.wjs-header .tel-icon:before{
	content: "\e909";
}
.wjs-header .login {
	margin-right: 10px;
	padding:3px 4px;
}
.wjs-header .erweima {
	position: absolute;
	left: 50%;
	top: 40px;
	-webkit-transform : translateX(-50%);
	transform : translateX(-50%);
	display: none;
}
.mobile:hover .erweima {
	display: block;
	z-index: 3;
}

/* 导航区域 */
.wjs-nav {
	width: 100%;
	z-index: 9998;
	top: 0;
}
.wjs-nav .navbar-default{
	background-color: #fff;
	height: 80px;
}
.wjs-nav .navbar-brand {
	height: 80px;
	line-height: 50px;
}
.wjs-nav .logo1:before{
	content: "\e920";
	font-size: 40px;
	vertical-align: middle;
	color: #E92322;
}
.wjs-nav .logo2:before{
	content: "\e93e";
	font-size: 36px;
	vertical-align: middle;
}
.wjs-nav .navbar-nav>li>a {
	line-height: 46px;
	font-size: 14px;
}
.wjs-nav .navbar-default .navbar-nav>.active>a {
	background-color: transparent;
	border-bottom: 2px solid #E92322;
}
.wjs-nav .navbar-default .navbar-nav>li:hover a {
	border-bottom: 2px solid #E92322;
}
.wjs-nav .navbar-toggle {
	margin-top: 22px;
}
.wjs-nav .navbar {
	margin-bottom: 0;
}
.wjs-nav .navbar-collapse{
	position: relative;
	z-index: 4;
	background-color: #fff;
}
.wjs-nav .navbar-brand {
	position: relative;
	z-index: 5;
}

/* 轮播 */


.wjs-carouse .carousel-inner img {
	height: 410px;
	position: absolute;
	/* 干掉bootstrap里面自带的最大宽度的设置 */
	max-width: none;
	left: 50%;
	transform: translateX(-50%);
}
.wjs-carouse .carousel-inner .item {
	height: 410px;

}
/* 背景图 */
.img-wrap {
	width: 100%;
	height: 410px;
	display: block;
	background:  url(../images/slide_01_2000x410.jpg) center no-repeat;
}

/* 支付保障 */
.wjs-safe {
	padding:50px 0;
}
.money:before {
	content: "\e907";
	font-size: 40px;
}
.wjs-safe .media-info {
	font-size: 16px;
}
.wjs-safe .row > div[class*='col-']{
	margin-bottom: 20px;
}
/* 预约模块 */
.wjs-book {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 20px 0;
	background-color: #fff;
	font-size: 14px;
}
.clock:before {
	content: "\e906";
}
.video:before {
	content: "\e905";
}

/* 产品主体 */
.wjs-pro {
	background-color: #F0F0F0;
	padding:50px 0;
}
.wjs-pro .nav-tabs>li>a {
	font-size: 16px;
}
.wjs-pro .nav-tabs>li.active>a {
	background-color: transparent;
	border:none;
	border-bottom: 2px solid #E92322;
}
.tab-content {
	overflow: hidden;
}
.pro-items {
	margin-top: 20px;
	background-color: #fff;
	position: relative;
}
.pro-items.active {
	background-color: #E92322;
	color: #fff;
}
.pro-items .tiyan-tips:before {
	content: "\e915";
	position: absolute;
	left: 0;
	top: -10px;
	font-size: 40px;
}
.pro-items .pro-right {
	width: 120px;
	height: 160px;
	text-align: center;
	border-left: 1px dashed #ccc;
	position: relative;
}
.pro-items .pro-right:before,
.pro-items .pro-right:after {
	content: '';
	width: 20px;
	height: 20px;
	background-color: #F0F0F0;
	border-radius: 50%;
	position: absolute;
	left: -10px;
}
.pro-items .pro-right:before {
	top: -10px;
}
.pro-items .pro-right:after {
	bottom: -10px;
}
.pro-right .lv-num {
	height: 60px;
	line-height: 60px;
	margin-top: 40px;
	font-size: 16px;
}
.pro-right .lv-num .num {
	font-size: 30px;
	font-weight: bold;
}
.lv-txt {
	font-size: 18px;
}
.pro-items .pro-left {
	height: 160px;
	margin-right: 120px;
	overflow: hidden;
}
.pro-left h3 {
	font-size: 18px;
	text-indent: 15px;
}
/* 新闻区域 */
.wjs-news {
	background-color: #fff;
	padding: 50px 0;
}
.wjs-news .news {
	font-weight: 400;
	font-size: 20px;
	position: relative;
	top: -10px;
	line-height: 50px;
	border-bottom: 1px dashed #ccc;
	margin-top: 0;
	text-align: center;
}
.wjs-news .news:before {
	content: '';
	width: 10px;
	height: 10px;
	border: 1px solid #ccc;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	right: -5px;
	bottom: -5px;
}
.wjs-news .nav-stacked>li {
	width: 70px;
	height: 70px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.wjs-news .nav-stacked>li a {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
}
.earth:before {
	content: "\e90e";
	font-size: 30px;
}
.my-news:before {
	content: "\e90f";
	font-size: 30px;
}
.sound:before {
	content: "\e910";
	font-size: 30px;
}
.pc:before {
	content: "\e911";
	font-size: 30px;
}

@media (max-width:992px) {
	.wjs-news .nav-stacked>li {
		width: 25%;
		float: left;
	}
}